In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install dipy

Collecting dipy
  Downloading dipy-1.4.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (7.7 MB)
     |████████████████████████████████| 7.7 MB 4.4 MB/s
Requirement already satisfied: nibabel>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from dipy) (3.0.2)
Requirement already satisfied: h5py>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from dipy) (3.1.0)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from dipy) (1.4.1)
Requirement already satisfied: tqdm>=4.30.0 in /usr/local/lib/python3.7/dist-packages (from dipy) (4.62.3)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from h5py>=2.5.0->dipy) (1.19.5)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.5.0->dipy) (1.5.2)
Installing collected packages: dipy
Successfully installed dipy-1.4.1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import plotly_express as px
# px.set_mapbox_access_token("pk.eyJ1Ijoic2hha2Fzb20iLCJhIjoiY2plMWg1NGFpMXZ5NjJxbjhlM2ttN3AwbiJ9.RtGYHmreKiyBfHuElgYq_w")

In [2]:
road_data_path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/route_network/clustered'
trips_cluster_data_path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/3.1_cluster_on_trips'

# map support point with lat lon

In [5]:
dfs = []
day_len = []
day_trip_count = []
days = range(1,32)
# days = range(1,2)
months = range(1,4)
# months = range(1,2)

for month in months:
  for day in days:
    try:
      sp_seq_df = pd.read_csv(trips_cluster_data_path + f'/trips_2019_{month}_{day}.csv', parse_dates=['time_stamp'])
    except:
      pass

    sp_seq_df = sp_seq_df[sp_seq_df['cluster']>-1].sort_values(by=['trip_id', 'time_stamp'])

    trip_count = sp_seq_df.trip_id.value_counts()
    trip_count = trip_count[trip_count >= 12]
    sp_seq_df = sp_seq_df[sp_seq_df.trip_id.isin(trip_count.index)]
    sp_seq_df['month'] = month
    sp_seq_df['day'] = day
    day_len.append(len(sp_seq_df))
    day_trip_count.append(len(trip_count))
    dfs.append(sp_seq_df)
print(day_len)
print(day_trip_count)
df = pd.concat(dfs, ignore_index=True)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[2275, 2854, 5150, 5273, 8134, 8518, 5368, 7094, 7363, 5645, 5618, 3385, 6613, 3883, 5285, 3136, 7674, 6278, 7193, 7193, 5452, 2186, 7553, 6555, 5181, 7495, 6774, 3712, 2925, 2225, 3315, 6384, 5576, 6351, 4144, 6415, 5464, 5304, 4511, 4589, 7551, 3877, 4791, 5595, 5655, 4301, 4827, 5521, 3080, 5204, 3781, 5188, 5209, 4294, 4824, 3688, 4541, 3597, 5874, 5874, 5874, 5874, 3498, 4161, 5010, 3124, 3574, 4459, 4410, 3766, 3852, 4041, 3970, 4312, 4730, 3393, 3588, 3906, 3167, 2426, 3038, 2579, 2653, 3083, 3449, 2709, 1795, 1427, 1515, 1603, 1860, 1455, 2136]
[125, 156, 301, 302, 437, 428, 301, 379, 396, 326, 325, 205, 360, 207, 288, 185, 388, 360, 403, 403, 290, 143, 389, 349, 286, 416, 385, 208, 134, 121, 183, 347, 302, 364, 225, 328, 299, 282, 260, 241, 438, 207, 253, 301, 317, 247, 275, 316, 185, 292, 207, 265, 273, 231, 262, 192, 265, 193, 327, 327, 327, 327, 210, 236, 269, 175, 190, 228, 229, 201, 207, 211, 212, 225, 243, 192, 204, 202, 185, 144, 159, 154, 145, 158, 173, 162, 105, 79, 76, 84, 88, 82, 113]

                time_stamp                      unit_id  ...  month  day
0      2019-01-01 05:01:59  016000200000352253062499073  ...      1    1
1      2019-01-01 10:15:59  016000200000352253062499073  ...      1    1
2      2019-01-01 11:02:59  016000200000352253062499073  ...      1    1
3      2019-01-01 11:31:39  016000200000352253062499073  ...      1    1
4      2019-01-01 14:09:59  016000200000352253062499073  ...      1    1
...                    ...                          ...  ...    ...  ...
423747 2019-03-31 03:24:56  001000600000010688800000036  ...      3   31
423748 2019-03-31 03:32:52  001000600000010688800000036  ...      3   31
423749 2019-03-31 03:36:53  001000600000010688800000036  ...      3   31
423750 2019-03-31 03:40:52  001000600000010688800000036  ...      3   31
423751 2019-03-31 04:52:50  001000600000010688800000036  ...      3   31

[423752 rows x 10 columns]

In [8]:
road_df = pd.read_csv(road_data_path+"/route_network_with_cluster.csv")

cluster_df = road_df[['cluster', 'center_lat', 'center_lon']]
cluster_df = cluster_df.drop_duplicates()
cluster_df.rename(columns = {'cluster':'sp', 'center_lat':'lat', 'center_lon':'lon'}, inplace = True)
cluster_df

         sp        lat         lon
0         0  14.984788  102.051257
156       1  14.979075  102.020065
188       2  14.982676  102.003040
220       3  14.987172  101.986551
244       4  14.992287  101.968000
...     ...        ...         ...
50516  8049  15.765768  101.555882
50518  8050  16.132595  101.584201
50522  8051  15.755759  101.582307
50524  8052  15.557630  101.573573
50526  8053  15.782620  101.468655

[8054 rows x 3 columns]

In [9]:
df.rename(columns = {'cluster':'sp'}, inplace = True)
loc_df = df[['trip_id', 'sp', 'month','day']].merge(cluster_df,how='left')
print(sp_seq_df.isna().any())
loc_df

time_stamp    False
unit_id       False
lat           False
lon           False
speed         False
unit_type     False
trip_id       False
cluster       False
month         False
day           False
dtype: bool

        trip_id    sp  month  day        lat         lon
0             1  4209      1    1  17.665933  102.509401
1             1  5033      1    1  17.502779  102.587850
2             1  5442      1    1  17.463661  102.685067
3             1  5445      1    1  17.451717  102.700221
4             1   743      1    1  17.420578  103.611062
...         ...   ...    ...  ...        ...         ...
423747     5568   759      3   31  14.763408  102.017325
423748     5568   759      3   31  14.763408  102.017325
423749     5568   759      3   31  14.763408  102.017325
423750     5568   759      3   31  14.763408  102.017325
423751     5568   163      3   31  14.826030  101.545672

[423752 rows x 6 columns]

In [10]:
trips = []
low_12 = 0
for month in months:
  for day in days:
    day_df = loc_df[(loc_df.day == day) & (loc_df.month == month)]
    for t_id in day_df.trip_id.unique():
      trip = day_df[day_df.trip_id == t_id][['lat', 'lon']]
      if len(trip)/12 > 1.5:
        split_trip=[trip.iloc[i:i + 12] for i in range(0, len(trip), 12)]
        if len(split_trip[-1]) < 8:
          last = split_trip.pop()
          before_last = split_trip.pop()
          merge_last = pd.concat([before_last, last])
          split_trip.append(merge_last)
        for partial_trip in split_trip:
          lat_lon_data = np.c_[partial_trip['lat'].values, partial_trip['lon'].values]
          trips.append(lat_lon_data)
      else:
        # print(len(trip))
        lat_lon_data = np.c_[trip['lat'].values, trip['lon'].values]
        trips.append(lat_lon_data)
# print(low_12)
print(len(trips))
trips[0][0,0], trips[0][0,1]

32086

(17.6659325, 102.5094007)

In [11]:
train_path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/model/3.1'

In [ ]:
import pickle
import collections
import geopy.distance
from dipy.segment.metric import Metric
from dipy.segment.metric import ResampleFeature
from dipy.segment.metric import VectorOfEndpointsFeature
from dipy.segment.clustering import QuickBundles
class GPSDistance(Metric):
    def __init__(self):
        super(GPSDistance, self).__init__(feature=ResampleFeature(nb_points=12))

    def are_compatible(self, shape1, shape2):
        return len(shape1) == len(shape2)

    def dist(self, v1, v2):
        x = [geopy.distance.distance([p[0][0], p[0][1]], [p[1][0], p[1][1]]).kilometers for p in list(zip(v1, v2))]
        currD = np.mean(x)
        return currD

THRESHOLD = 12
metric = GPSDistance()
qb = QuickBundles(threshold=THRESHOLD, metric=metric)

# feature = ResampleFeature(nb_points=24)
# metric = AveragePointwiseEuclideanMetric(feature=feature)
# qb = QuickBundles(threshold=THRESHOLD, metric=metric)

%time clusters = qb.cluster(trips)

pkl_filename = train_path+"/QBcluster_q1_treshold12.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(clusters, file)
with open(pkl_filename, 'rb') as file:
    clusters = pickle.load(file)

print("Nb. clusters:", len(clusters))
print("Cluster sizes:", map(len, clusters))
print("Small clusters:", collections.Counter(clusters < 10)[True], end=' /')
print("Small clusters:", clusters < 10)
print("Streamlines indices of the first cluster:\n", clusters[0].indices)
print("Centroid of the last cluster:\n", clusters[-1].centroid)

In [ ]:
loc_df['route_cluster'] = pd.Series()

cluster_list = []
index = 0
for trip in trips:
  lenght = len(trip)
  for cluster in range(len(clusters)):
      if index in clusters[cluster].indices:
        cluster_list.extend([cluster]*lenght)
  index+=1
print(len(cluster_list))
loc_df.route_cluster = cluster_list
loc_df

In [ ]:
df[['day', 'month', 'route_cluster']] = loc_df[['day', 'month', 'route_cluster']]
for month in months:
  for day in days:
    day_df = df[(df.day == day) & (df.month == month)]
    day_df = day_df.drop(['day'], axis=1)
    day_df = day_df.drop(['month'], axis=1)
    day_df.to_csv(trips_cluster_data_path + f'/lebeled/trips_2019_{month}_{day}.csv', encoding='utf-8', index=False)
    print(day_df.route_cluster.unique())
    print(day_df)